* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

h1 {
  padding-bottom: 32px;
  font-size: 2.5rem;
  width: 15ch;
  max-width: 100%;
}

h1,
h2 {
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

li {
  background: black;
  width: 2rem;
  max-width: 48px;
  text-align: center;
}

a {
  cursor: pointer;
  font-size: min(1.75rem, 48px);
  text-decoration: none;
  color: white;
}

section {
  width: 90vw;
  height: 50vh;
  border: 8px solid black;
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

article {
  scroll-snap-align: start;
  min-width: 100%;
  padding: 12px;
}
