* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

h1,
h2 {
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 12px;
}

a {
  cursor: pointer;
  font-size: 1.5rem;
  text-decoration: none;
}

section {
  width: 90vw;
  height: 80vh;
  border: 8px solid black;
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

article {
  scroll-snap-align: start;
  min-width: 100%;
  padding: 12px;
}
